@model ProductDetailsModel

    @{
        var addtocomparelink = Url.RouteUrl("AddProductToCompare", new { productId = Model.Id });
    }

    @if (Model.CompareProductsEnabled)
    {
        <div class=" col-6 compare-products pr-0 pl-1">
            <button type="button" class="btn-compare-product" onclick="AjaxCart.addproducttocomparelist('@addtocomparelink');return false;">
                <i class="fa fa-exchange pr-2" aria-hidden="true"></i> @T("Products.Compare.AddToCompareList")
            </button>
        </div>
    }