@model PublicModel

@using Nop.Web.Framework.UI
@{
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/api.quickview.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/api.shared.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/jquery.fullscreen-popup.min.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/jquery.magnific-popup.min.js");
    //Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/jquery.media.preview.js");
    Html.AppendScriptParts(ResourceLocation.Footer, "~/Plugins/NopStation.QuickView/Content/js/slick.min.js");

    Html.AppendCssFileParts("~/Plugins/NopStation.QuickView/Content/css/quickview.css");
    Html.AppendCssFileParts("~/Plugins/NopStation.QuickView/Content/css/magnific-popup.css");
}

<script asp-location="Footer">
    $(document).ajaxComplete(function (e, x, o) {
        quickView();
    });

    $(function () {
        quickView();
    });

    function quickView() {
        var quick_view_modal = '<div id="quick-view-modal"></div>';
        $("body").append(quick_view_modal);
        $("body").append("<button id='quick-view-btn'>@T("NopStation.QuickView.Button.QuickView")</button>");

        $(".product-item[data-productid]").each(function () {
            var quick_view_button = '<i><a data-product-id="' + $(this).data("productid") + '" class="quick-view-plugin-btn btn button-2 text-white" ><i class="fa fa-eye" aria-hidden="true"></i></a></i>';
            var arr = "@Model.ButtonContainerName".split(',');
            for (var i = 0; i < arr.length; i++) {
                if ($(this).find(arr[i]).find("a.quick-view-plugin-btn").length < 1)
                    $(this).find(arr[i]).append(quick_view_button);
            }
        });

        $(".quick-view-plugin-btn.btn").on("click", function () {
            displayAjaxLoading(true);
            var product_id = $(this).data("product-id");
            api.viewProductDetails({
                data: { productId: product_id }
            });
            displayAjaxLoading(false);
        });
    }
</script>