@model CategoryNavigationModel
@if (Model.Categories.Count > 0)
{
    <div class="block block-category-navigation">
        <div class="title"  id="headingOne">
            <button class="btn btn-link btn-block" type="button" data-toggle="collapse" data-target="#categoryNavigation" aria-expanded="true" aria-controls="collapseOne">
               @T("Categories")
            </button>
        </div>
        <div class="listbox collapse show" id="categoryNavigation" aria-labelledby="headingOne">
            <ul class="list">
                @foreach (var category in Model.Categories)
                {
                    var categoryLineModel = new CategoryNavigationModel.CategoryLineModel
                    {
                        CurrentCategoryId = Model.CurrentCategoryId,
                        Category = category
                    };
                    @await Html.PartialAsync("_CategoryLine.Navigation", categoryLineModel)
                }
            </ul>
        </div>
    </div>
}